/* * {
    background-color: cyan;
} */

body {
    background-color: #dad7cd;
}

button {
    font-size: 30px;
    background-color: #a3b18a;
}

h1,
h2 {
    color: #344e41;
}

#signup {
    background-color: #344e41;
    color: #dad7cd;
}

span {
    color: #a3b18a;
}

.tag {
    background-color: #3a5a40;
    color: #dad7cd;
    font-size: 16px;
}

.post a {
    color: #a3b18a;
    text-decoration: none;
    font-weight: bold;
}

footer a {
    color: #3a5a40;
}

h2+button {
    font-size: 20px;
    background-color: magenta;
}

footer>a {
    color: #a3b18a;
}

input[type="password"] {
    color: greenyellow;
}

a[href*="google"] {
    color: magenta;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #02c39a;
}

.post:nth-of-type(2n) {
    background-color: #dfe8dc;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #344e41;
    color: #dad7cd;
}

button:hover {
    background-color: olive;
}

button {
    background-color: magenta !important;
}