<%- include('partials/head') %>
        <%- include('partials/navbar') %>
        <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic earum
            praesentium pariatur, esse repudiandae quod ad dolorum eum nihil
            impedit ipsa ut odio asperiores culpa, blanditiis odit suscipit cum
            voluptatibus.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non eos,
            nisi assumenda officiis ullam a possimus eligendi, fuga corrupti
            quos vel? Sequi, doloribus. Deserunt culpa eligendi voluptates
            doloremque amet quia.
        </p>
<%- include('partials/footer') %>
